<div class="accordion">

  <a href="#" class="accordion-toggle"> Service <i class="fas fa-caret-down"></i></a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pi>
        <ul>
          <li><a class="cool-link" href="#">Accounting Firm</a></li>
          <li><a class="cool-link" href="#">Administration Office</a></li>
          <li><a class="cool-link" href="#">Attorneys</a></li>
          <li><a class="cool-link" href="#">Car Dealers</a></li>
          <li><a class="cool-link" href="#">Bank</a></li>
          <li><a class="cool-link" href="#">Tax Advisor</a></li>
          <%= link_to "service", "service"%>
        </ul>
      </pi>
    </div>
  </div>
</div>

<div class="accordion">

  <a href="#" class="accordion-toggle"> Transport<i class="fas fa-caret-down"></i></a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pi>
        <ul>
          <li><a class="cool-link" href="#">Car tires</a></li>
          <li><a class="cool-link" href="#">Vehicle Inspection</a></li>
          <li><a class="cool-link" href="#">Car Material</a></li>
          <li><a class="cool-link" href="#">Driving Schools</a></li>
          <li><a class="cool-link" href="#">Car body repair companies</a></li>
        </ul>
      </pi>
    </div>
  </div>
</div>
<div class="accordion">

  <a href="#" class="accordion-toggle">Construction & Industry<i class="fas fa-caret-down"></i></a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pi>
        <ul>
          <li><a class="cool-link" href="#">Pavements</a></li>
          <li><a class="cool-link" href="#">Security Systems</a></li>
          <li><a class="cool-link" href="#">Construction Company</a></li>
          <li><a class="cool-link" href="#">Wallpaper</a></li>
          <li><a class="cool-link" href="#">Groundwork</a></li>
        </ul>
      </pi>
    </div>
  </div>
</div>

<div class="accordion">

  <a href="#" class="accordion-toggle"> <i class="fas fa-caret-down"></i></a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pi>
        <ul>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
        </ul>
      </pi>
    </div>
  </div>
</div>
