<div class="accordion">

  <a href="#" class="accordion-toggle"> Bisnis & Jasa <i class="fas fa-caret-down"></i></a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pi>
        <ul>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
        </ul>
      </pi>
    </div>
  </div>
</div>

<div class="accordion">

  <a href="#" class="accordion-toggle"> Bisnis & Jasa <i class="fas fa-caret-down"></i></a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pi>
        <ul>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
        </ul>
      </pi>
    </div>
  </div>
</div>
<div class="accordion">

  <a href="#" class="accordion-toggle"> Bisnis & Jasa <i class="fas fa-caret-down"></i></a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pi>
        <ul>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
        </ul>
      </pi>
    </div>
  </div>
</div>

<div class="accordion">

  <a href="#" class="accordion-toggle"> Bisnis & Jasa <i class="fas fa-caret-down"></i></a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pi>
        <ul>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
          <li><a class="cool-link" href="#">A cool link</a></li>
        </ul>
      </pi>
    </div>
  </div>
</div>
