<ul class="list-group">
  <li class="list-group-item active">
    <div class="md-v-line">Category</div>
  </li>
  <li class="list-group-item">
    <div class="md-v-line">Business Name</div>
  </li>
  <li class="list-group-item">
    <div class="md-v-line">Business Name</div>
  </li>
  <li class="list-group-item">
    <div class="md-v-line">Business Name</div>
  </li>
  <li class="list-group-item">
    <div class="md-v-line">Business Name</div>
  </li>
</ul>
