<div class="logo-slider">
  	<div class="logo-slide-track">
  		<div class="slide">
  			<img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/256/square_4100/nodejslogo.png" height="100" width="100" alt="AndelaLogo" />
  		</div>
      	<div class="slide">
  			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCwCT50XTjhhqfQ3aUdFPKUX4rv27jTtdnHQWFpH0F5gBUn4Anlg" height="100" width="100" alt="Breather logo" />
  		</div>
      	<div class="slide">
  			<img src="https://avatars.githubusercontent.com/u/4223" height="100" width="100" alt="Bluebat Logo" />
  		</div>
      <div class="slide">
  			<img src="https://www.brandcrowd.com/gallery/brands/pictures/picture13714803355006.jpg" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="http://codemen.com/wp-content/uploads/2016/09/ReactJS.png" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://huseyindemirtas.net/wp-content/uploads/2013/12/css3-logo.jpg" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://cdn.auth0.com/blog/logos/Full_TypeScript_Logo.png" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="http://kursuswebdesign.org/wp-content/uploads/2017/04/logo-2.jpg" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_960_720.png" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://ismailfedakar.files.wordpress.com/2016/10/asp_net_.png?w=640" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/samidip/images/1009061/Mark_vertical.jpg" height="100" width="100" alt="Brika Logo" />
  		</div>
      <div class="slide">
  			<img src="https://www.anyware.co.il/Uploads/2017/11/infragistics_boxshot_1.png" height="100" width="100" alt="Brika Logo" />
  		</div>

  	</div>
  </div>
