* {
  box-sizing: border-box
}

.image {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #999
}

.overlay {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(155, 89, 182, 0.9);
  color: #FFF;
  padding: 20px;
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
  border-radius: 5px
}

.overlay h2 {
  font-size: 20px;
  margin: 30px 0 0 0;
  color: #0F0;
  text-shadow: 1px 1px 10px #FFF
}

.overlay p {
  font-size: 16px;
  line-height: 1.5;
  color: #DDD;
  margin-top: 15px;
  margin-bottom: 10px
}

.overlay span {
  font-size: 14px;
  cursor: pointer
}

.overlay .first{
  padding: 10px;
  border: 2px solid #FFF;
  border-radius: 5px;
  height: 100%;
  width: 100%
}

.overlay .last {
  padding: 10px;
  border: 3px solid #FFF;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  perspective: 600px;
  background-clip: border-box
}

img {
  display: block;
  border-radius: 5px
}

.image:hover .overlay {
  visibility: visible;
  opacity: 1
}

.image:hover #id {
  animation: hover-image 1s ease-in-out;
}

@keyframes hover-image {
  0% {
    transform: translateZ(-600px) rotateZ(90deg) scale(1,1);
  }
  100% {
    transform: translateZ(0px) rotateZ(0deg);
  }
}
